@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Patrick+Hand&display=swap');

:root {
    --font-heading: "Chewy";
    --font-body: "Patrick Hand";
}


* {
    margin: 0;
    padding: 0;
    text-decoration: none;

    font-family: var(--font-body);
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    text-align: center;

    background-color: rgba(146, 216, 238, 0.767);

}

body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../public/images/dots.jpg') repeat center/cover;
    opacity: 0.1;
    z-index: -1;
}

.container {
    width: inherit;
    max-width: 1440px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* HEADER */

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

h1 {
    font-size: 100px;
    color: aliceblue;
    font-family: var(--font-heading);
    -webkit-text-stroke: 1px rgb(28, 143, 219);
}

#sign-in {
    width: 64px;
    height: 64px;
    background-color: rgb(150, 186, 223);
    border: 4px solid black;
    border-radius: 12px;
    margin-left: auto;
    margin-right: 0;

    transition: background-color ease-in-out 0.2s;
}

#sign-in:hover {
    cursor: pointer;
    background-color: rgb(233, 174, 135);
}

/* GRID LAYOUT */

.parent {

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;
}

.div1 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
}

.div2 {
    grid-column: span 4 / span 4;
    grid-row: span 4 / span 4;
    grid-column-start: 3;
}

.div3 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-row-start: 3;
}

.div1,
.div2,
.div3 {
    border-radius: 12px;
    background-color: white;

    letter-spacing: 2px;
    font-size: 24px;
}

/* CALENDER */

#calender {
    min-height: max-content;
    padding: 8px;
}

.calender-header {
    background-color: rgb(149, 199, 243);
    border-radius: 8px;
    overflow: hidden;

    display: flex;
}

#time {
    margin-right: auto;
}

.calender-header>* {
    min-width: 25px;
    padding: 4px;
    border-radius: 4px;
    transition: background-color ease-in-out 0.3s;
}

#day:hover,
#month:hover,
#year:hover {
    cursor: pointer;
    background-color: rgb(97, 138, 185);
}

/* CALENDER DAYS OF THE MONTH */

.calender-days {
    margin-top: 10px;
    border-radius: 12px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    border-radius: 12px 12px 0 0;
    background-color: #ddd;
    list-style: none;

    display: flex;
    justify-content: space-around;
}

.weekdays li {
    width: 14.28%;
    padding: 10px 0;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    border-radius: 0 0 12px 12px;
    padding: 10px;
    background: #eee;
    margin: 0;

    display: flex;
    flex-wrap: wrap;
}

.days .day-item {
    width: 14.28%;
    box-sizing: border-box;
    color: #777;
    text-align: center;
    padding: 5px;
}

.days .day-item.empty {
    background: transparent;
    color: transparent;
    border: none;
}

.day-item:hover {
    transition: background-color ease-in 0.15s;
    cursor: pointer;
    background-color: #b9b4b4;
    border-radius: 4px;
}


/* MEDIA QUERIES */
@media only screen and (max-width: 1440px) {}

/* TODO: Responsive design for Mobile. */
@media only screen and (max-width: 960px) {}